.header
  / =image_tag('header_bg.jpg')
  %section#header.background
    %h1.heading_text Analyzing Yelp Reviews in Phoenix
%hr.header_rule
.col-md-9
  %section#intro
    %h2.dark_header Introduction
    = partial 'introduction'
    .temporary-spacer
    %hr

  %section#data-exp
    %h2.dark_header Data Exploration
    = partial 'dataexploration'
    .temporary-spacer
    %hr

    %section#data-exp-time-based
    %h4 Time Exploration
    = partial 'timeexploration'
    .temporary-spacer
    %hr

    %section#data-exp-loc-based
    %h4 Exploring Space
    = partial 'locexploration'
    .temporary-spacer
    %hr

  %section#networks
    %h2.dark_header Network Analysis
    .temporary-spacer
    %hr

  %section#baselines
    -# This is a partial -- use them instead of adding
    -# to this file!
    = partial 'baselines'

  %section#matrices
    %h2.dark_header Matrix Factorization
    = partial 'matrixfactorization'

    .temporary-spacer
    %hr

  %section#linear
    %h2.dark_header Interpretable Linear Models
    = partial 'linearmodels'
    .temporary-spacer
    %hr

  %section#conclusion
    %h2.dark_header Conclusion
    = partial 'conclusion'

    .temporary-spacer
    %hr

  %section#refs
    %h2.dark_header References
    = render_references
    .temporary-spacer
    %hr

.col-md-3
  .sidebar.scrollspy
    %ul.nav#nav
      %li
        %a{href: '#intro'} Introduction
      %li
        %a{href: '#data-exp'} Data Exploration
        %ul.nav
          %li
            %a{href: '#data-exp-time-based'} Exploring Time
          %li
            %a{href: '#data-exp-loc-based'} Exploring Space
      %li
        %a{href: '#networks'} Network Analysis
      %li
        %a{href: '#baselines'} Baseline Predictors
        %ul.nav
          %li
            %a{href: '#baselines-global-avg'} Always Predict The Mean
          %li
            %a{href: '#baselines-simple-avg'} Simple Averaging
          %li
            %a{href: '#baselines-beta-prior'} The Beta Prior Method
          %li
            %a{href: '#baselines-decoupling'} Decoupled Regularized Averaging
          %li
            %a{href: '#baselines-leastsq-l2'} Least-Squares and the L2 Norm
          %li
            %a{href: '#baselines-time-based'} Time-Based Baselines
      %li
        %a{href: '#matrices'} Matrix Factorization
        %ul.nav
          %li
            %a{href: '#matrices-min-reviews'} Limiting User Sparsity
      %li
        %a{href: '#linear'} Interpretable Linear Models
      %li
        %a{href: '#conclusion'} Conclusion
      %li
        %a{href: '#refs'} References
