.header
  %section#header.background
    %h1.heading_text Analyzing Phoenix Yelp Reviews

.col-md-9
  %section#intro
    %h2.dark_header Introduction
    = partial 'introduction'
    %hr

  %section#data-exp
    %h2.dark_header Data Exploration
    = partial 'dataexploration'
    %hr

    %section#data-exp-time-based
    %h4 Time Exploration
    = partial 'timeexploration'
    %hr

    %section#data-exp-loc-based
    %h4 Exploring Space
    = partial 'locexploration'
    %hr

  %section#networks
    %h2.dark_header Network Analysis
    = partial 'network_analysis'
    %hr

  %section#baselines
    = partial 'baselines'

  %section#matrices
    %h2.dark_header Matrix Factorization
    = partial 'matrixfactorization'
    %hr

  %section#linear
    %h2.dark_header Interpretable Linear Models
    = partial 'linearmodels'
    %hr

  %section#conclusion
    %h2.dark_header Conclusion
    = partial 'conclusion'
    %hr

  %section#refs
    %h2.dark_header References
    = render_references

.col-md-3
  .sidebar.scrollspy
    %ul.nav#nav
      %li
        %a{href: '#intro'} Introduction
      %li
        %a{href: '#data-exp'} Data Exploration
        %ul.nav
          %li
            %a{href: '#data-exp-base-line'} General Baseline Analysis
          %li
            %a{href: '#data-exp-time-based'} Exploring Time
          %li
            %a{href: '#data-exp-loc-based'} Exploring Space
      %li
        %a{href: '#networks'} Network Analysis
      %li
        %a{href: '#baselines'} Baseline Predictors
        %ul.nav
          %li
            %a{href: '#baselines-global-avg'} Always Predict The Mean
          %li
            %a{href: '#baselines-simple-avg'} Simple Averaging
          %li
            %a{href: '#baselines-beta-prior'} The Beta Prior Method
          %li
            %a{href: '#baselines-decoupling'} Decoupled Regularized Averaging
          %li
            %a{href: '#baselines-leastsq-l2'} Least-Squares and the L2 Norm
          %li
            %a{href: '#baselines-time-based'} Time-Based Baselines
      %li
        %a{href: '#matrices'} Matrix Factorization
        %ul.nav
          %li
            %a{href: '#matrices-min-reviews'} Limiting User Sparsity
      %li
        %a{href: '#linear'} Interpretable Linear Models
      %li
        %a{href: '#conclusion'} Conclusion
      %li
        %a{href: '#refs'} References

.container
  .col-md-12.footer
    Sophie Hilgard, Nick Hoernle, Reiko Nishihara, and Andrew Ross, AC209a
    %br
    = link_to 'GitHub Repository', 'https://github.com/NickHoernle/Data-Science-Project-AM209a'
